# VacationPy
----

#### Note
* Keep an eye on your API usage. Use https://developers.google.com/maps/reporting/gmp-reporting as reference for how to monitor your usage and billing.

* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import os
import time
#!pip install config


# Google developer API key
from cofig_api import api_key

In [2]:
!jupyter nbextension enable --py gmaps

Enabling notebook extension jupyter-gmaps/extension...
      - Validating: OK

### Store Part I results into DataFrame
* Load the csv exported in Part I to a DataFrame

In [3]:
vacation_df = pd.read_csv('../output_data/cities.csv')
vacation_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
0,0,ostrovnoy,2,RU,1558378754,72,68.05,39.51,37.50,7.16
1,1,mahebourg,75,MU,1558378503,74,-20.41,57.70,78.80,11.41
2,2,qaanaaq,25,GL,1558378755,73,77.48,-69.36,22.20,2.37
3,3,zhuhai,0,CN,1558378755,39,40.71,112.04,44.60,4.47
4,4,cape town,20,ZA,1558378755,76,-33.93,18.42,55.99,8.05
...,...,...,...,...,...,...,...,...,...,...
543,543,yabrud,0,SY,1558378840,32,33.97,36.66,80.60,8.05
544,544,paraiso,5,MX,1558378898,4,24.01,-104.61,84.20,16.11
545,545,veraval,0,FR,1558378898,62,49.65,0.71,61.00,8.05
546,546,novyy urgal,100,RU,1558378899,93,51.07,132.56,49.74,2.68
547,547,tongren,4,CN,1558378899,64,27.72,109.18,55.86,2.84

### Humidity Heatmap
* Configure gmaps.
* Use the Lat and Lng as locations and Humidity as the weight.
* Add Heatmap layer to map.

In [4]:
# Configure access to the GoogleMaps API.
gmaps.configure(api_key=api_key)

In [5]:
locations = vacation_df[['Lat','Lng']]
humidity = vacation_df['Humidity'].astype(float)
#gmaps.configure(api_key=api_key)

In [6]:
# Create a gmaps figure
fig = gmaps.figure()

In [7]:
# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, 
                                 dissipating=False, max_intensity=90,
                                 point_radius=4)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

### Create new DataFrame fitting weather criteria
* Narrow down the cities to fit weather conditions.
* Drop any rows will null values.

In [8]:
narrow_vacation_df = vacation_df.loc[(vacation_df["Max Temp"] < 80) & (vacation_df["Max Temp"] > 70) & 
                                    (vacation_df["Wind Speed"] < 10) & (vacation_df["Cloudiness"] == 0), :]
narrow_vacation_df = narrow_vacation_df.dropna(how='any')
narrow_vacation_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17

### Hotel Map
* Store into variable named `hotel_df`.
* Add a "Hotel Name" column to the DataFrame.
* Set parameters to search for hotels with 5000 meters.
* Hit the Google Places API for each city's coordinates.
* Store the first Hotel result into the DataFrame.
* Plot markers on top of the heatmap.

In [9]:
hotel_df = narrow_vacation_df

# Add Hotel Name column to hotel_df        
hotel_df["Hotel Name"] = ""

for index, row in hotel_df.iterrows():

    #base url
    url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    #Setting parameters with dictionary to search for hotels
    params = {"location": str(row["Lat"]) + "," +str(row["Lng"]),
              "radius": str(5000),
              "type": "Hotel",
              "keyword": "Hotel",
              "key": api_key}
    
    response = requests.get(url, params=params).json()
  
    try:
        hotel_df.loc[index, "Hotel Name"] = response['results'][0]['name']
        

    except (KeyError, IndexError):
        print("Missing")

In [10]:
hotel_df['Hotel Name'].replace('', np.nan, inplace=True)
hotel_df.dropna(subset=['Hotel Name'], inplace=True)
hotel_df

,City_ID,City,Cloudiness,Country,Date,Humidity,Lat,Lng,Max Temp,Wind Speed,Hotel Name
70,70,ponta do sol,0,BR,1558378767,57,-20.63,-46.00,73.68,5.32,Escarpas Resort
88,88,cidreira,0,BR,1558378770,66,-30.17,-50.22,76.56,5.50,Hotel Castelo
138,138,morondava,0,MG,1558378780,69,-20.30,44.28,79.08,9.06,Kimony Resort Hotel
139,139,vaini,0,IN,1558378780,88,15.34,74.49,78.90,1.59,Dandeli Aura Jungle Stay
176,176,nador,0,MA,1558378499,40,35.17,-2.93,75.20,6.93,HÃ´tel Mercure Rif Nador
297,297,mogok,0,MM,1558378844,51,22.92,96.51,72.24,2.77,King Bridge
444,444,birjand,0,IR,1558378880,26,32.86,59.22,71.60,9.17,Ù…Ù‡Ù…Ø§Ù† Ù¾Ø°ÛŒØ± Ù†ÙˆÛŒØ¯

In [11]:
# NOTE: Do not change any of the code in this cell

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(markers)
# Display figure
fig